@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body {
  height: 100%;
  background-color: #e0e0e0;
}
.container-fluid {
  background-color: #e0e0e0;
}
#current {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 16px;
}
#current #time, #current #summary {
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}
#current .temp {
  display: inline-block;
  padding: 10% 0;
}
#current .temp #temperature {
  display: inline-block;
  font-size: 72px;
  line-height: 60px;
  vertical-align: middle;
}
#current .temp #unit1 {
  padding-left: 10px;
}
#current .temp #unit1, #current .temp #unit2 {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
#current #icon {
  font-size: 96px;
  padding-left: 24%;
  display: inline-block;
}
#current .wind .wind-icon {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 30px;
}
#current .wind #windspeed {
  padding-left: 24px;
  display: inline-block;
}
#current .precip .precip-icon {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 30px;
}
#current .precip #precipitation {
  padding-left: 24px;
  display: inline-block;
}
#daybyday {
  background-color: #fff;
  padding: 16px;
  text-align: center;
}
#footer {
  background-color: #fff;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-radius: 0 0 2px 2px;
  padding: 16px;
  line-height: 20px;
  text-align: center;
}
#footer a {
  color: #9e9e9e;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
#footer a:hover {
  text-decoration: none;
}
#footer .bomholt {
  font-weight: 500;
}
