@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800)
@import url(https://fonts.googleapis.com/css?family=Roboto:500)

a
  color: #fff

.container-fluid
  background-color: #e0e0e0

.amber
  background-color: #ffc107
.purple
  background-color: #9c27b0
.green
  background-color: #4caf50
.indigo
  background-color: #3f51b5
.red
  background-color: #f44336
.blue-grey
  background-color: #607d8b
.teal
  background-color: #009688
.deep-orange
  background-color: #ff5722

#current
  color: #fff
  font-family: "Open Sans", sans-serif
  font-weight: 400
  padding: 16px

  #time, #summary
    color: rgba(255,255,255,0.80)
    margin: 5px 0

  #temperature
    font-size: 72px
    display: inline-block

  #unit1
    padding-left: 10px

  #unit1, #unit2
    font-size: 24px
    display: inline-block  

  #icon
    font-size: 96px
    padding-left: 48px

  .wind

    .icon
      display: inline-block
      font-size: 18px
      text-align: center
      width: 30px

    #windspeed
      padding-left: 24px
      display: inline-block

  .precip

    .icon
      display: inline-block
      font-size: 18px
      text-align: center
      width: 30px

    #precipitation
      padding-left: 24px
      display: inline-block

#daybyday
  background-color: #fff
