@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500";
/** Body */
html, body {
  height: 100%;
}
html, body, input, textarea, buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
a {
  background: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus, a:hover, a:visited {
  text-decoration: none;
}
/** Navigation */
#navigation {
  background-color: #263238;
}
@media (min-width: 992px) {
  #navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    min-height: 500px;
  }
}
#navigation #nav_header {
  height: 200px;
}
#navigation #left_nav ul {
  list-style: none;
  padding-left: 0px;
}
#navigation #left_nav ul li strong {
  display: block;
  padding: 16px 8px 8px;
}
#navigation #left_nav ul li ul {
  margin: 0;
  padding-left: 24px;
}
#navigation #left_nav ul li ul li {
  padding: 4px 0;
}
#navigation #nav_icons {
  display: none;
}
@media (min-width: 992px) {
  #navigation #nav_icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table-cell;
    padding: 15px;
  }
}
#navigation #nav_icons ul {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
#navigation #nav_icons ul li {
  display: inline-block;
  margin: 8px;
  margin: 0.8rem;
}
#navigation #nav_icons ul li a {
  display: block;
  position: relative;
  height: 24px;
  height: 2.4rem;
  width: 24px;
  width: 2.4rem;
  border-radius: 100%;
  color: #00BFA5;
  fill: #00BFA5;
}
#navigation #nav_icons ul li a:hover {
  color: #64FFDA;
  fill: #64FFDA;
}
#navigation #nav_icons ul li a svg {
  display: block;
  height: 100%;
  width: 100%;
}
