@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
}
span {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
#display {
  background-color: #eee;
  color: #212121;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 230px;
  z-index: 1000;
  padding: 0;
  overflow: hidden;
}
#display .hidden-calculation {
  display: none;
}
#display .latest-calculation {
  text-align: right;
  padding: 16px;
}
@media (min-width: 768px) {
  #display .latest-calculation {
    padding: 32px;
  }
}
#display .result {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 16px;
}
@media (min-width: 768px) {
  #display .result {
    padding: 32px;
  }
}
#display .result h1 {
  margin: 0;
}
#display .result h1 .equals {
  display: none;
  position: absolute;
  left: 16px;
}
#display .result h1 .close-bracket {
  color: #bdbdbd;
}
#keys {
  background-color: #616161;
  color: #fafafa;
  padding: 0;
}
#keys div {
  display: inline-block;
  float: left;
  height: calc(100vh - 230px);
  min-height: 250px;
  width: 25%;
}
#keys div span {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#keys .grey700 {
  background-color: #616161;
  width: 24%;
}
@media (min-width: 768px) {
  #keys .grey700 {
    width: 26%;
  }
}
#keys .grey700 span {
  font-size: 24px;
  height: 25%;
}
#keys .grey600 {
  background-color: #757575;
  width: 23%;
}
@media (min-width: 768px) {
  #keys .grey600 {
    width: 22%;
  }
}
#keys .grey600 span {
  height: 20%;
}
#keys .yellowA400 {
  background-color: #ffea00;
  width: 5%;
}
@media (min-width: 768px) {
  #keys .yellowA400 {
    display: none;
  }
}
#keys-extended {
  color: #212121;
  height: calc(100vh - 230px);
  background-color: #ffea00;
  padding: 0;
}
#keys-extended div {
  background-color: #ffea00;
  display: inline-block;
  float: left;
  height: 80%;
  min-height: 200px;
  width: 33.3%;
}
#keys-extended div span {
  height: 25%;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#keys-extended .bomholt {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 20%;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#keys-extended .bomholt a {
  color: #bfb000;
  margin-top: 5px;
}
#keys-extended .bomholt a:hover {
  color: #bfb000;
  text-decoration: none;
}
#keys-extended .bomholt a i {
  vertical-align: text-top;
}
