body {
  background-color: #78909C;
}
.container {
  padding-right: 10px;
  padding-left: 10px;
}
.container .grid {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 50px auto;
}
@media (min-width: 768px) {
  .container .grid {
    width: 450px;
    height: 450px;
  }
}
.container .grid .field {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
}
@media (min-width: 768px) {
  .container .grid .field {
    width: 150px;
    height: 150px;
  }
}
.container .grid .top {
  border-bottom: 8px solid #455A64;
}
.container .grid .right {
  border-left: 8px solid #455A64;
}
.container .grid .bottom {
  border-top: 8px solid #455A64;
}
.container .grid .left {
  border-right: 8px solid #455A64;
}
footer {
  position: absolute;
  background-color: #607D8B;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 42px;
  width: 100%;
  text-align: center;
}
footer a {
  color: #D6DFE3;
  line-height: 42px;
  position: relative;
  top: 2px;
  text-decoration: none;
}
footer a:focus, footer a:hover, footer a:visited {
  color: #D6DFE3;
}
footer a i {
  vertical-align: text-top;
}
