body
  background-color: #78909C

.container
  padding-right: 10px
  padding-left: 10px

  .grid
    background-color: transparent
    width: 300px
    height: 300px
    margin: 50px auto
    @media (min-width:768px)
      width: 450px
      height: 450px

    .field
      width: 100px
      height: 100px
      display: block
      float: left
      @media (min-width:768px)
        width: 150px
        height: 150px

    .top
      border-bottom: 8px solid #455A64

    .right
      border-left: 8px solid #455A64

    .bottom
      border-top: 8px solid #455A64

    .left
      border-right: 8px solid #455A64


footer
  position: absolute
  background-color: #607D8B
  bottom: 0
  font-family: "Roboto", sans-serif
  font-weight: 500
  height: 42px
  width: 100%
  text-align: center

  a
    color: #D6DFE3
    line-height: 42px
    position: relative
    top: 2px
    text-decoration: none
    &:focus, &:hover, &:visited
      color: #D6DFE3

    i
      vertical-align: text-top
